<%= form_for @time_log do |f| %>

    <%= render 'shared/error_messages', object: f.object %>
	<% @current = Time.now %>
	<%= @current.strftime('%m月%d日　%H:%M' ) %>
  　<div class="field">
      <%= f.text_area :content, placeholder: @time_log.content %>
    </div>

	<% @current = Time.now %>
	<%= @current.strftime('%m月%d日　%H:%M' ) %>
    <%= f.hidden_field :stop_time, :value => @current %>
    <%= f.submit "Stop", class: "btn btn-lg btn-danger" %>
    セッション : <%= session[:log_flag] %>

<% end %>
