<% provide(:title, "Sign in") %>
<div class="center jumbotron">
  <h1>Sign in</h1>

<h2>ログイン</h2>

<div class="row">
  <div class="span6 offset3">
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>

      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>

	  <% if devise_mapping.rememberable? -%>
      <div class="field">
		<%= f.check_box :remember_me %>
		<%= f.label :remember_me %>
      </div>
	  <% end -%>

	  <%= f.submit "Log in", class: "btn btn-large btn-primary" %>
	<% end %>
  </div>
</div>
<%= render "users/shared/links" %>
