<li id="<%= log_list_item.id %>">

  <%= link_to "TimeLogger", log_list_item.user %>
  <span class="user">
    <%= link_to log_list_item.user.name, log_list_item.user %>
  </span>
   <span class="user">
    <%= link_to "edit", log_list_item.user %>
  </span>
  <br>
  <span class="content"> Comments: <%= log_list_item.content %></span>
  <br>
  <br>
  <% @Logging_time = log_list_item.start_time %>
  <span class="content"> Start_Time: <%= @Logging_time %></span>
  <br>
  <% @Logging_time = log_list_item.stop_time %>
  <span class="content"> Stop_Time: <%= @Logging_time %></span>
  <br>
  <span class="timestamp">
    Posted <%= time_ago_in_words(log_list_item.created_at) %> ago.
  </span>
  <br>
<%
=begin
%>   
ここではまで編集できる機能は実装していない
<%= form_for(@time_log, url: { action: :update }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
	<% @current = Time.now %>
	<%= @current.strftime('%m月%d日　%H:%M' ) %>
	<%= log_list_item %>
	<%= f.hidden_field :stop_time, :value => @current %>
  <%= f.submit "Stop", class: "btn btn-lg btn-danger" %>
<% end %>
<%
=end
%>   

</li>

