<% if (!session[:log_flag]) %>
  <%= form_for(@time_log) do |f| %>

   <%= render 'shared/error_messages', object: f.object %>
   <% @current = Time.now %>
   <%= @current.strftime('%m月%d日　%H:%M' ) %>
   　<div class="field">
      <%= f.text_area :content, placeholder: "何をしていますか？" %>
     </div>
   　<div class="field">
      <%= f.hidden_field :start_time, :value => @current %>
     </div>
    <%= f.submit "Start", class: "btn btn-lg btn-primary" %>
  <% end %>

<% else %>
<h1>   Zone is running !! </h1>
   セッション : <%= session[:log_flag] %>
<% end %>
