<%= form_for(@time_log) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <% @current = Time.now %>
  <%= @current.strftime('%m月%d日　%H:%M' ) %>
  <%= f.hidden_field :start_time, :value => @current %>
  time_log_id  <%= @time_log %>

  <%= fields_for(@time_log.current_logs) do |af| %>
<%
=begin
%>   
  <%= fields_for(@current_log) do |af| %>
<%
=end
%>   
    <div class="field">
	  <%= af.hidden_field :user_id, :value => current_user.id %>
	  <%= af.hidden_field :time_log_id, :value => @time_log.id %>
	  <%= af.hidden_field :logging_flag, :value => true %>
	</div>
  <% end %>

  <% if (!session[:log_flag]) %>
  　<div class="field">
      <%= f.text_area :content, placeholder: "何をしていますか？" %>
    </div>
    <%= f.submit "Start", class: "btn btn-lg btn-primary" %>
    セッション : <%= session[:log_flag] %>

  <% else %>
    <div class="field">
      <%= f.text_area :content, placeholder: session[:content] %>
	</div>
    <%= f.hidden_field :stop_time, :value => @current %>
	<%= f.hidden_field :start_time, :value => session[:log_flag] %>
    <%= f.submit "Stop", class: "btn btn-lg btn-danger" %>
    セッション : <%= session[:log_flag] %>
  <% end %>

<% end %>

