    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Zone", '#', id: "logo" %>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>	
        <nav>
          <ul class="nav navbar-nav navbar-right">
			<li><%= link_to "Home", "#" %></li>
			<li><%= link_to "Help", "#" %></li>
			<li><%= link_to "Sign in", "#" %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          </ul>
        </nav>
      </div>
    </header>
